[user]
	email = sven@haardiek.de
	name = Sven Haardiek
[pull]
	ff = only
[commit]
	gpgsign = true
[gpg]
	program = gpg
[diff "sops"]
	textconv = sops-diff
	binary = false
[merge "sops"]
	driver = sops-merge %A %O %B %P
[init]
	defaultBranch = main
[credential]
	helper = store
[core]
	editor = nvim
[push]
  autoSetupRemote
[hook "claude-co-authored-post-commit"]
	event = commit-msg
	command = ~/.local/bin/claude-commit-msg-git-hook

[include]
  path = ~/.gitconfig.local
