@import "mocha.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
}

#waybar {
  background: transparent;
  color: @text;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface1;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.focused {
  background-color: @surface2;
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#tray,
#backlight,
#clock,
#battery,
#network,
#pulseaudio {
  background-color: @surface1;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight,
#network,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#network {
  color: @lavender;
}

#tray {
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 1rem;
  background-color: @surface1;
}
