configuration {
  modi:                "drun,run,window";
  show-icons:          true;
  drun-display-format: "{name}";
  display-drun:        "󰍉";
  display-run:         "󰆍";
  display-window:      "󰖯";
  font:                "JetBrainsMono Nerd Font 11";
}

@import "catppuccin-mocha"

* {
  background-color: transparent;
  text-color:       @text;
  spacing:          0;
}

window {
  location:         center;
  width:            600px;
  background-color: @base;
  border:           2px;
  border-color:     @lavender;
  border-radius:    12px;
  padding:          12px;
}

mainbox {
  spacing: 12px;
}

inputbar {
  background-color: @surface0;
  border-radius:    8px;
  padding:          10px 12px;
  spacing:          10px;
  children:         [ prompt, entry ];
}

prompt {
  text-color: @lavender;
}

entry {
  text-color:        @text;
  cursor:            text;
  placeholder:       "Search…";
  placeholder-color: @overlay0;
}

message {
  background-color: @surface0;
  border-radius:    8px;
  padding:          8px 12px;
}

listview {
  lines:     8;
  columns:   1;
  scrollbar: false;
  spacing:   4px;
  fixed-height: true;
}

element {
  padding:       8px;
  border-radius: 8px;
  spacing:       12px;
  cursor:        pointer;
}

element normal.normal,
element alternate.normal {
  background-color: transparent;
  text-color:       @text;
}

element normal.urgent,
element alternate.urgent {
  background-color: transparent;
  text-color:       @red;
}

element normal.active,
element alternate.active {
  background-color: transparent;
  text-color:       @blue;
}

element selected.normal,
element selected.active {
  background-color: @surface0;
  text-color:       @lavender;
}

element selected.urgent {
  background-color: @red;
  text-color:       @crust;
}

element-icon {
  size:   24px;
  cursor: inherit;
}

element-text {
  text-color:     inherit;
  vertical-align: 0.5;
  cursor:         inherit;
}
